@model Lab1.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disability.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disability.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportIssuedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportIssuedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportIssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportIssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassrortIdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassrortIdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pensioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pensioner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MounthIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MounthIncome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
