@model IEnumerable<Lab1.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("Create", "Home")">
    <p>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add new client
    </p>
</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Delete
        </th>
        <th>
            Edit
        </th>
        <th>
            Add deposit
        </th>
        <th>
            Add credit
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.LastName, "Details", new { id = item.Id })
        </td>
    <td>
        <a href="@Url.Action("Delete", "Home", new {id = item.Id})">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
    </td>
        <td>
            <a href="@Url.Action("Edit", "Home", new {id = item.Id})">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("CreateDeposit", "Deposit", new {id = item.Id})">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            </a>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Home", new {id = item.Id})">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
}

</table>
